DB_ENGINE=django_prometheus.db.backends.mysql
DB_NAME=golekono_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
SECRET_KEY=django-insecure-golekono-mlops-backend-key-change-in-prod
DEBUG=True
